body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 100vh;
}

nav {
  background-color: lightgray;
  width: 200px;
}

nav .active {
  text-decoration: underline;
  font-size: bold;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

ul > li {
  padding: 10px;
}

nav a {
  text-decoration: none;
}

nav a.active {
  font-weight: bold;
}
